:root {
    --base: #ffc600;
    --spacing: 10px;
    --blur: 0px;
}

img {
    background-color: var(--base);
    min-width: 310px;
    width: 45%;
    padding: var(--spacing);
    filter: blur(var(--blur));
}

body{
    text-align: center;
    background: #193549;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 50px;
}

.h1 {
    color: var(--base);
}

h2 {
    margin: 48px 0 24px 0;
}

.controls {
    margin: 0 0 24px 0;
}